
@{
    ViewData["Title"] = "FriendsProfile";
}


@{
    Layout = "_Layout";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<link href="~/css/Profile.css" rel="stylesheet" />
@if (SignInManager.IsSignedIn(User))
{

    <header>

        @{
            ApplicationUser friendProfile = ViewBag.friendProfile;
            var tempBio = "No Bio";
            var tmpImg = "~/images/avatar.png";
            var profilePic = "~/images/" + friendProfile.ProfilePicPath;
        }
        <div class="container">

            <div class="profile">

                <div class="profile-image">
                    <img src="~/images/@(friendProfile.ProfilePicPath)" alt="" height="100" width="100">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">@(friendProfile.UserName)</h1><span>

                    </span>





                </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count"></span> posts</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-primary btn-lg active" asp-controller="Friend" asp-action="UnknownFriendsProfile" asp-route-email=@(friendProfile.Email)>
                            <li><span class="profile-stat-count"></span> Friends</li>
                        </a>


                    </ul>

                </div>

                <div class="profile-bio">

                    <p><span class="profile-real-name">@(friendProfile.FirstName)  @(friendProfile.LastName)</span> </p>
                    <p><span> @(friendProfile.Bio ?? tempBio)   </span></p>

                </div>

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>
    @if (ViewBag.AllPosts != null)
    {
        <main>

            <div class="container">

                <div class="gallery">
                    @foreach (Post post in ViewBag.AllPosts)
                    {

                        <a asp-controller="post" asp-action="details"
                           asp-route-id="@post.PostId" class="btn m-1">
                            <div class="gallery-item" tabindex="0">

                                <img src="~/images/@post.PostPath" class="gallery-image" alt="">

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>@post.Likes</li>
                                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>11</li>
                                    </ul>

                                </div>

                            </div>
                        </a>
                    }

                </div>


                <div class="loader"></div>

            </div>


        </main>
    }
    @if (ViewBag.sendRequest == true)
    {
        <main>
            <div class="container">
                <a asp-action="SendRequest" asp-controller="Friend" asp-route-email="@friendProfile.Email" type="button" class="btn btn-primary btn-lg" style="font-size: 25px;
        background-color: #0275d8
">Send Request</a>
            </div>
        </main>
    }
}

